ioni-content.bacground{
   --background:url(../../assets/background.jpg);
}

.content{
  position:fixed;
  margin-top:310px;
  margin-left:40px;

}

.button-action{
    margin-left:5px;

}

.signup-text{
    font-size:;
    color:
    text-align:;
    font-family:
    text-transform:now;

}

.ion-input{
    background-color: white;
    

}